.footer__test {
   background-color: #080F17;
   display: flex;
   ul {
      display: flex;
      width: 900px;
      height: 80px;
      margin: 0 auto;
      li {
         cursor: pointer;
         font-size: 16px;
         width: 37px;
         height: 37px;
         text-align: center;
         padding-top: 5px;
         color: #fff;
         background-color: rgb(20, 20, 20);
         border: 1px solid #000;
      }
   }
   div{
      position: relative;
      right: 100px;
      color: #fff;
      width: 100px;
      height: 40px;
      padding: 5px 10px;
      border-radius: 5px;
      border: 2px solid #0e60be;
   }
}