.test__pege {
    background-color: #080F17;
  height: 89vh;
    .test__title {
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        color: #212529;
        text-align: center;
        background-color: #003D66;
        color: #EfFFFF;
    }

    .test__box {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        padding: 50px;

        .test__savollari {
            li {
                margin-bottom: 5px;
                cursor: pointer;
                display: flex;
                background-color: #2E373E;
                color: #EfFFFF;
             width: 670px;
                p:first-child {
                    background-color: #003B6D;
                    display: inline-block;
                    width: 40px;
                    padding: 10px;
                    margin: 0;
                }

                p:last-child {
                    padding: 6px 10px;
                    display: flex;
                    align-items: center;
                }
            }
        }

        .test__img {
            width: 50%;
        }
    }
}
#trueTest{
    background-color: rgb(53, 252, 14);
}
#falseTest{
    background-color: rgb(245, 24, 8);
}